node_modules
.DS_Store
_includes/generated/
_site
.sass-cache
.jekyll-metadata
.env
s3_website.yml
.letsencrypt
*.log
.jekyll-cache/

# Gems are cached in this directory when running the Docker setup
vendor/bundle/
