# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Berlin Tech Workers Coalition
email: contact@techworkerberlin.com
description: Berlin Tech Workers Coalition is a grassroots organization that empowers tech workers to build power and get involved to make a positive impact in our society.
url: "https://techworkersberlin.com" # the subpath of your site, e.g. /blog
baseurl: "" # the base hostname & protocol for your site, e.g. http://example.com
timezone: "Europe/Berlin"

# Build settings
feed:
  collections:
    - events
    - news
plugins:
  - jekyll-feed
  - jekyll-multiple-languages-plugin
  - jekyll-seo-tag
  - jekyll-sitemap

## SEO, Open Graph etc..
twitter:
  username: techworkersber
  card: summary
facebook:
  publisher: 105285494190738

social:
  name: Berlin Tech Workers Coalition
  links:
    - https://twitter.com/TechWorkersBER
    - https://facebook.com/TechWorkersBER
    - https://instagram.com/TechWorkersBER
    - https://t.me/techworkersber

sass:
  style: compressed
exclude:
  - .jekyll-cache/
languages: ["en", "de", "pl"]
exclude_from_localizations: ["assets", "admin", "vendor"]
header_links:
  - url: /works-councils
    text: Works Councils
  - url: /events
    text: Events
  - url: /press
    text: Press
  - url: /join
    text: Join
footer_links:
  - url: /learning
    text: Learning Group
    newTab: true
  - url: https://www.facebook.com/TechWorkersBER/
    text: Facebook
    newTab: true
  - url: https://twitter.com/TechWorkersBER
    text: Twitter
    newTab: true
  - url: /statute
    text: Statute
    newTab: false

permalink: pretty
future: true
collections:
  news:
    output: true
  events:
    output: true
    permalink: events/:title

defaults:
  - scope:
      path: ""
    values:
      image: /assets/img/beat_the_boss.jpg
  - scope:
      type: "events"
    values:
      layout: "event"
  - scope:
      type: "news"
    values:
      layout: "news"
