.l-stack {
  display: flex;

  &.-space-large {
    --stack-spacing: 2rem
  }

  &.-horizontal {
    align-items: center;

    & > * + * {
      margin-left: var(--stack-spacing, 1rem);
    }
  }

  &.-vertical {
    flex-direction: column;

    & > * + * {
      margin-top: var(--stack-spacing, 1rem);
    }
  }
}

[id]::before { 
  display: block; 
  content: " "; 
  margin-top: -73px; // height of nav bar
  height: 73px; 
  visibility: hidden; 
  pointer-events: none;
}
