{% if page.namespace != 'index' %}
  <div id="breadcrumbs">
    {% assign crumbs = page.url | remove: '/index.html' | split: '/' %}
    <a href="/{% if site.lang != 'en' %}{{site.lang}}{% endif %}">{% t home.label %}</a>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        / {{ crumb | capitalize }}
      {% else %}
        /
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace: '-', ' ' | remove: '.html' | capitalize }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
