{% unless page.permalink == "/events" %}
  <a href="/events">{% t home.events.more %}</a>
{% endunless %}
<ul
  class="list -no-list-style l-stack -vertical"
  style="--stack-spacing: 1.5rem"
  role="list"
>
  {% assign sorted_posts = site.events | filter_tags: include.tags | reverse %}
  {% if include.limit %}  
    {% for post in sorted_posts reversed limit: include.limit %}  
      {% include event-card.html limit=include.limit %}
    {% endfor %}
  {% else %} 
    {% for post in sorted_posts %}  
      {% include event-card.html %}
    {% endfor %}
  {% endif %}  
</ul>
