<footer>
    <div class="footer-links">
    <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://t.me/TechWorkersBer"
        >
        <img class="social-icon" src="/assets/icons/telegram.svg" alt="Telegram">
        Telegram <span style="color:black">{ </span>public</a><a
    rel="noopener noreferrer"
    target="_blank"
    href= "https://t.me/+-7rD_lN0tP1kNjNi"
    ><span style="color:black"> | </span>private <span style="color:black">}</span></a>
    <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://twitter.com/TechWorkersBER"
        >
        <img class="social-icon" src="/assets/icons/twitter.svg" alt="Twitter">
        Twitter</a
    >
    <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://instagram.com/techworkersber"
        >
        <img class="social-icon" src="/assets/icons/instagram.svg" alt="Instagram">
        Instagram</a
    >
    <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://bsky.app/profile/techworkersberlin.com"
    >
    <img class="social-icon" src="/assets/icons/bluesky.svg" alt="Bluesky">
    Bluesky</a
    >
    </div>
</footer>