<header class="header dropdown__header" role="banner">
  <div>
    <a href="/">
      <h1 class="logo">{{ site.title }}</h1>
      <p class="work"><span class="link">Berlin</span> Tech <span class="link">Workers</span> Coalition</p>
    </a>
  </div>
  <ul class="supporting-links dropdown__categories">
    <li class="dropdown__category">
      <div id="navBtn">menu</div>
      <ul id="nav" class="dropdown__menu hide">
        {% for link in site.header_themes %}
          <li><a href="{{link.url}}">{{link.text}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="{% translate_link join %}">Join</a></li>
  </ul>
</header>
