@import "variables";

@import "elements/universal-selector";
@import "elements/a";
@import "elements/typography";
@import "structures/lists";
@import "structures/tables";

@import "structures/main";
@import "structures/event";

@import "header";

@import "layouts/home";

@import "layouts/nominating-candidates";

@import "util/helper";
@import "util/layout";

/* layout */
body {
  background-color: $white;
  color: $black;
  font-family: "Avenir", sans-serif;
  font-size: 102.5%;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

input {
  display: inline-block;
  margin: 10px 0;

  &:invalid {
    border: 2px solid red;
  }

  &:invalid:required {
    background: #FFCCCB;
  }

  &:focus {
    outline: none;
  }

}

input.input-text {
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: $grey;
  border-style: solid;
  border-width: 1px;

}

input[type="submit"] {
  margin-top: 20px;
  font-weight: 500;
  background-color: #212121;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #e6141b;
  }
}

blockquote,
ol,
p,
ul {
  margin-bottom: 1em;
}

.social-links {
  font-weight: bold;
  border: 2px #e6141b solid;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;

  a {
    text-decoration: none;
  }
}

.control {
  margin-bottom: 5px;

  input, label {
    display: block;
    width: 75%;
  }
}

img {
  object-fit: cover;
  max-width: 100%;
}

.bg-yellow {
  background: #fdd816;
  color: #801c62;
  padding: 10px 10px 10px;

  a {
    color: #801c62;
    &:hover {
      text-decoration-color: #801c62;
    }
  }
}

.bg-black {
  background: $black;
  color: $white;
  padding: 5px 20px 20px;

  a {
    color: $white;
    &:hover {
      text-decoration-color: #e6141b;
    }
  }
}

.bg-black h2 {
  background: $black;
  color: $white;
}


.subscribe-button {
  border-color: transparent;
  background-color: #212121;
  color: white;
  padding: 8px 25px;
  border-radius: 8px;
  border-width: 1px;

  &:hover {
    background-color: #e6141b;
  }
}

.post-header {
  margin-bottom: 3rem;
}
