@import "variables";

@import "elements/universal-selector";
@import "elements/a";
@import "elements/typography";
@import "structures/lists";
// page/component-specific partials
@import "structures/event";

@import "header";

@import "layouts/home";

@import "util/layout";

/* layout */
body {
  background-color: $white;
  color: $black;
  font-family: "Avenir", sans-serif;
  font-size: 102.5%;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns .column {
  padding: 0 10px;
}

.column.is-1 {
  flex: 1;
}

.column.is-2 {
  flex: 2;
}

.column.is-3 {
  flex: 3;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 6em 4vmin 2em;
}

input {
  display: inline-block;
  margin: 10px 0;
}

input[type="submit"] {
  margin-top: 20px;
  font-weight: 500;
  background-color: #212121;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #e6141b;
  }
}

main {

  /*   a {
    font-weight: 500;
    line-height: 1.5em;
  } */
}

footer {
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  margin-top: 5em;

  .columns {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    @include mobile {
      display: block;
    }
  }

  @include mobile {
    position: relative;
    box-shadow: none;
    border-top: 1px #212121 solid;
    ul {
      padding-left: 1em;
    }
  }

  a {
    font-weight: 600;
    // font-size: 16px;
    text-decoration: none;
    &:link {
      color: #212121;
    }
    &:visited {
      color: #212121;
    }
    &:hover {
      color: #e6141b;
    }
    &:focus {
      color: #e6141b;
    }
    &:active {
      color: #212121;
    }
  }
}

blockquote,
ol,
p,
ul {
  margin-bottom: 1em;
}

li.social {
  font-weight: bold;
  border: 2px #e6141b solid;
  border-radius: 8px;
  padding: 10px;
  transition: 0.5s;

  &:hover {
    padding-left: 20px;
    box-shadow: 10px;
    & > a {
      color: black;
      text-decoration: underline;
      text-decoration-color: #e6141b;
    }
  }
}

img {
  max-width: 75%;
}

.author-profile-image {
  object-fit: cover;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  float: left;
  padding-right: 10px;
}

.article-list {
  list-style-type: none;

  .article-list-item a {
    text-decoration: none;
    color: inherit;
  }

  .article-list-item {
    transition: 0.5s;

    &:hover {
      padding-left: 5px;
      box-shadow: 10px;
    }
  }

  .article-title {
    font-size: 1.75rem;
  }
}

time.news {
  color: $grey;
}

.bg-black {
  background: $black;
  color: $white;
  padding: 5px 20px 20px;

  a:hover {
    color: $white;
  }
}

.bg-black h2 {
  background: $black;
  color: $white;
}

input.input-text {
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: $grey;
  border-style: solid;
  border-width: 1px;

  &:focus {
    outline: none;
  }
}

.subscribe-button {
  border-color: transparent;
  background-color: #212121;
  color: white;
  padding: 8px 25px;
  border-radius: 8px;
  border-width: 1px;

  &:hover {
    background-color: #e6141b;
  }
}
