<ul class="article-list list">
  {% assign limit = include.limit %}
  {% assign sorted_posts = site.news | sort: 'date' | reverse %}
  {% for post in sorted_posts limit: limit %}
    <li>
      <article class="article-list-item">
        <a href="{{post.url}}">
          <h3
            class="article-title"
            id="news-{{ post.title | slugify }}"
          >{{post.title}}</h3>
          {% assign author = site.data.authors[post.author] | default:
          site.data.authors['techworkersber'] %}
          {% if author %}
            {% if author.picture %}
            <img
              class="author-profile-image"
              src="{{author.picture}}"
              alt="{{author.name}}"
            />
            {% endif %}
            <div>{{ author.name }}</div>
          {% endif %}
          <time
            class="aside"
            datetime="{{ post.date | date: '%Y-%m-%d' }}"
          >{{ post.date | date: '%-d %B %Y' }}</time
          >
        </a>
      </article>
    </li>
  {% endfor %}
</ul>
