<ul
  class="list -no-list-style l-stack -vertical"
  style="--stack-spacing: 1.5rem"
  role="list"
>
  {% assign resources =  site.translations[site.lang].resources %}
  {% for resource in resources %}
    <li>
      <article class="event-card">
        <svg
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 24 24"
          class="event-card__icon"
          style="enable-background:new 0 0 24 24;"
          xml:space="preserve"
        >
          <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z" />
        </svg>
        <div
          class="event-card__info-column l-stack -vertical"
          style="--stack-spacing: 0.25rem"
        >
          <h3 class="event-card__title ">
            <a href="{{ post.url }}" class="event-card__link">{{ post.title }}</a>
          </h3>
        </div>
      </article>
    </li>
  {% endfor %}
</ul>
