table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th, caption {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th, caption {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

table th {
  background-color: #04AA6D;
}

caption {
  background-color: red;
}
