@media print {
  main {
      max-width: 100%
  }

  .header, .site-footer, p, .social-links, #candidate_table > caption {
      display: none;
  }

}

#minimum-candidates {
 font-weight: normal;
 color: rgb(79, 79, 79);
}
